a:link, a:visited {
    color: #228AD6;
    text-decoration: none;
}

a:active, a:hover {
    color: darkblue;
    text-decoration: underline;
}

.newline {
    white-space: pre-line;
}

.header {
    position: fixed;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.header a:link, .header a:visited {
    color: #333333;
    text-decoration: none;
}

.header a.admin:link, .header a.admin:visited {
    color: #228AD6;
    text-decoration: none;
}

.header a:active, .header a:hover {
    color: gray;
    text-decoration: underline;
}

.header a.admin:active, .header a.admin:hover {
    color: darkblue;
    text-decoration: underline;
}

#topmost {
    height: 90px;
}

.navbar {
    margin-top: 12px;
    margin-left: 0;
    padding-left: 0;
    font-size: 14px;
    line-height: 18px;
}

.nav-link {
    padding-left: 2px!important;
    padding-right: 45px!important;
}

.nav-link#navbardrop {
    padding-right: 5px!important;
}

li#nav-user {
    background-color: #E6E7EB;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
}

#user-dropdown {
    right: 0;
    left: auto;
}

li#nav-user a.dropdown-toggle::after {
    display: none;
}

.container-fluid {
    padding-left: 45px;
    padding-right: 95px;
}

.container-fluid.header {
    padding-right: 15px;
}

/*Заголовки*/
h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 35px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 35px;
}

/*Второе меню*/
.nav2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px!important;
}
.nav2 a {
    padding-left: 5px;
    padding-right: 5px;
}
.nav2 a.active {
    border-bottom: solid 1px blue;
    padding-bottom: 10px;
}

/*Таблица*/
table.table {
    border-bottom: solid 1px #dee2e6;
}
table.table button.btn-link {
    padding: 0;
    margin: 0;
    border-top: 0;
}

table.table tr th {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    border-top: 0;
    border-bottom: 0;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 18px;
}

table.table tr td {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    vertical-align: middle;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.table tr td img {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

table.table tr td button {
    padding: 0;
    margin: 0;
}

/*Кнопки*/
a.btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    color: black;
}

/*Элементы страниц*/
.backlink {
    margin-bottom: 35px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.backlink .fas {
    font-size: 18px;
    vertical-align: top;
    margin-right: 5px;
}